
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Fira Sans;
    background-color: #F5F5F5;
}
p{
    color:rgba(14, 14, 14, 0.60); ;
}
/* Navbar section */
.navbar{
    margin:0px 160px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singIn button{
  background: none;
  border: 2px solid #006A50;
  color: #006A50;
  width: 110px;
  padding: 10px;
  font-weight: normal;
  display:block;
  margin-top: 10px;
}
.singIn button:hover{
    color: #FFFFFF;
    transition: 0.3s;
}

/* banner section */
.banner{
    background-color:#C6E4D6;
    margin: 30px 160px;
    height: 580px; 
    border-radius: 10px;
}
.contain{
    display: flex;
    margin:50px ;
}
.banner p{
    font-size: 24px;
    color:rgba(14, 14, 14, 0.50);
}
.text_Contain{
    margin-top: 150px;
    width: 590px;
}
.text_Contain h1{
    font-size: 48px;
    font-weight: bold;
    margin-top:10px;
    color: #0E0E0E;    
}
.banner .img{
    width: 400px;
    padding: 79px;
}
.button{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: 500;
    margin-top: 30px;
}
 button:hover{
    background-color: #034f3a;
    transition: 0.5s;
}
/* The Vision of Future section */
.section{
    margin: 80px 160px;
}
.body_section p{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.60)
}
.body_section h2{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}
.item{
    display: flex;
    margin-top: 35px;
    gap: 30px; 
}
.items{
    width: 400px;    
}
.items p{
    margin-top: 15px;
}
.items h4{
    margin-top: 15px;
}
.items1{
    background-color: #5490f53b;
    padding: 40px;
    border-radius: 20px
}
.items1 button{
    background-color:#5490f5 ;
}
.items1 button:hover{
    background-color:#0042b5 ;
    transition: 0.6s;
}
.items2{
    background-color: #09a15c38;
    padding: 40px;
    border-radius: 20px
}
.items2 button{
    background-color: #09A15C;
}
.items2 button:hover{
    background-color: #006e3c;
    transition: 0.6s;
}
.items3{
    background-color: #ffc23952;
    padding: 40px;
    border-radius: 20px  
}
.items3 button{
    background-color: #FFC239 ;
}
.items3 button:hover{
    background-color: #eba400 ;
    transition: 0.6s;
}
/* News letter section */
.Newsletter{
    background-color: #FFFFFF;
    height: 256px;
    margin-top: 32px;
    border-radius: 10px;
    background-image: url("./assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
}
/* .news{
    margin: 24px;
} */
.Description{
    display: inline-block;
    margin: 45px 24px;
    line-height: 25px;
    word-spacing: 5px;
}
.news h4{
    margin-top: 17px;
}
/* Recent_News section */
.Recent_News {
    margin-top:80px;
}
.Container{
    background-color: #FFFFFF;
    height: 385px;
    margin-top: 32px;
    border-radius: 10px;
   
}
.containers{
    display: flex;
    padding: 38px;
    gap: 32px;
}
.NewsImage img{
    border-radius: 20px;
}
.news_title{
    margin-top: 30px;
}
.news_title img{
    margin-top: 10px;
}
.news_title p{
    margin-top: 15px;
}

/* Donate scetion */
.donateDescription{
    margin: 88px 88px 0px 88px;
    text-align: center;
}
.donateDescription P{
    margin-top: 24px;
    word-spacing: 2px;
}
.Donate_amount{
    display: flex;
}
.Donate_amount input{
  padding: 21px;
  width: 171px;
  margin: 45px;
  font-size: 40px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  background-color: #FFFFFF;
}              
.Donate_amount input:hover{
    background-color: #09A15C;
    color: #FFFFFF;
    transition: 0.8s;
}
.inputAmount input{
  margin: 3px 124px 8px 124px;
  width: 76%;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 9px;
  border: none;
}

/* footer section */
.Subscribe{
    background-color:rgba(198, 228, 214, 1.00);;
    height: 395px;
    border-radius: 20px;
}
.Subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    text-align: center;
    width: 750px;
}
.description p{
    margin-top: 15px;
}
.description input{
    margin-top: 30px;
    width: 55%;
    padding: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    font-size: 17px;
}
.description button{
    width: 130px;
    padding: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-size: 17px;
    background-color:#006A50 ;
    color: #FFFFFF;
}
.description span button:hover{
    background-color: #0e1f17;
    transition: 0.5s;
}

